# Build and binary folders
bin/
obj/
dist/
*.zip

# Local CI / assembly download cache
valheim_server/
bepinex_pack/
steamcmd/

# Visual Studio / Rider / IDE files
.vs/
.idea/
*.user
*.suo

# OS files
.DS_Store
Thumbs.db
